<!--* Full background ################################################################################################-->
<div class="full-bg-dark">
    <h1 class="text-center text-green">GreenEat</h1>
    <h2 class="text-center text-light">The best recipes for you</h2>
</div>

<!--* STARTER 1 ################################################################################################-->

<div class="starter d-flex bg-black">
    <a class="border-radius-left bg-white w-100" id="yourRecipes">
        <h3 class="text-center text-dark">Your recipes</h3>
    </a>
    <a class="border-radius-right bg-green w-100" id="panelRecipes">
        <h3 class="text-center text-light">Panel of recipes</h3>
    </a>
</div>

<!--* Your Recipes ################################################################################################-->

<div class="your-recipes">
    <div class="text-recipes d-flex justify-content-center">
        <div class="w-90">
            <label for="textarea1" class="form-label"></label>
            <textarea class="form-control" id="textarea1" rows="7"></textarea>

            <div class="anecdote py-5">
                <h4>Le savais-tu ?</h4>
                <span>Les manchots mâles draguent en offrant aux femelles des cailloux.</span>
            </div>

        </div>
    </div>

    <a class="btn-calcul d-flex justify-content-center" href="#">
        <div class="btn-calcul-text bg-green d-flex justify-content-center">
            <h4 class="text-light">Calcule ton Green</h4>
        </div>
    </a>
</div>

<!--* Seasonal recipe ################################################################################################-->

<div class="container">
    <section class="seasonal-recipe" id="seasonal-recipe">
        <div class="seasonal-title">
            <h2>seasonal recipe</h2>
            <span>Here is a seasonal recipe</span>
        </div>

        <div class="row row-cols-2 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <img src="https://baconmockup.com/200/200" class="card-img-top"
                            alt="https://baconmockup.com/200/200">

                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">30 Minutes/tags</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <img src="https://baconmockup.com/200/200" class="card-img-top"
                            alt="https://baconmockup.com/200/200">

                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">30 Minutes/tags</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <img src="https://baconmockup.com/200/200" class="card-img-top"
                            alt="https://baconmockup.com/200/200">

                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">30 Minutes/tags</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <img src="https://baconmockup.com/200/200" class="card-img-top"
                            alt="https://baconmockup.com/200/200">

                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">30 Minutes/tags</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>

<ul>
    <li><a href="" routerLink="spoonacular_recipes">Tester l'API Recettes Spoonacular</a></li>
    <li><a href="" routerLink="openfoodfacts_ecoscore">Tester l'API Ecoscore OpenFoodFacts</a></li>
    <li><a href="" routerLink="ingredients_tests">Tester les ingrédients</a></li>
</ul>