.title-greeneat-dark {
  display: var(--display-title-dark);
  width: 50%;
  animation: flip-horizontal-top 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}

.title-greeneat-light {
  display: var(--display-title-light);
  width: 50%;
  animation: flip-horizontal-top 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}

@keyframes flip-horizontal-top {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

.seasonal-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3em;
}
