<!--* Full background ################################################################################################-->
<div class="py--5 d-flex flex-column justify-content-center">
    <div class="d-flex justify-content-center">
        <img class="title-greeneat-dark" src="../../assets/img/title-dark.svg">
        <img class="title-greeneat-light" src="../../assets/img/title-light.svg">
    </div>
    <h1 class="text-center">Calculez le GreenScore de votre recette</h1>
    <h4 class="text-center">Découvrez l'impact de vos recettes sur votre santé et l'environnement grâce à notre GreenScore</h4>
</div>

<!--* STARTER 1 ################################################################################################-->

<!-- <ul>
    <li><a href="" routerLink="spoonacular_recipes">Tester l'API Recettes Spoonacular</a></li>
    <li><a href="" routerLink="openfoodfacts_ecoscore">Tester l'API Ecoscore OpenFoodFacts</a></li>
    <li><a href="" routerLink="ingredients_tests">Tester les ingrédients</a></li>
</ul> -->

<app-input-ingredients></app-input-ingredients>

<div class="seasonal-title pt-5">
    <h2>Recettes</h2>
    <span>Nos recettes du moment</span>
</div>

<div class="background">
    <app-seasonal-recipes></app-seasonal-recipes>
    <section class="py-55"></section>
</div>