<!--Panel of recipes ################################################################################################-->

<div class="panel-recipes container py-5">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Recipe" aria-label="Recipient's username"
            aria-describedby="button-addon2">
        <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
    </div>


    <!-- Category #############################################################################################-->
    <div class="category d-flex justify-content-between py-5">
        <h3 class="">Categories</h3>
        <button type="button" class="btn btn-primary">All Categories</button>
    </div>


    <div class="row row-cols-3 row-cols-sm-6 g-4 d-flex justify-content-between">
<!--* card category start -->
        <div class="col">
            
            <a href="#" class="card-link">
                <div class="card">
                    <div class="card-body center">
                        <img class="img-category py-1 placeholder" src="..." alt="...">
                        <h5 class="card-title category">Category</h5>
                    </div>
                </div>
            </a>
    
        </div>
<!-- card category end -->

<!--* card category start -->
        <div class="col">

            <a href="#" class="card-link">
                <div class="card">
                    <div class="card-body center">
                        <img class="img-category py-1 placeholder" src="..." alt="...">
                        <h5 class="card-title category">Category</h5>
                    </div>
                </div>
            </a>

        </div>
<!-- card category end -->

<!--* card category start -->
        <div class="col">

            <a href="#" class="card-link">
                <div class="card">
                    <div class="card-body center">
                        <img class="img-category py-1 placeholder" src="..." alt="...">
                        <h5 class="card-title category">Category</h5>
                    </div>
                </div>
            </a>

        </div>
<!-- card category end -->

<!--* card category start -->
        <div class="col">

            <a href="#" class="card-link">
                <div class="card">
                    <div class="card-body center">
                        <img class="img-category py-1 placeholder" src="..." alt="...">
                        <h5 class="card-title category">Category</h5>
                    </div>
                </div>
            </a>

        </div>
<!-- card category end -->

<!--* card category start -->
        <div class="col">

            <a href="#" class="card-link">
                <div class="card">
                    <div class="card-body center">
                        <img class="img-category py-1 placeholder" src="..." alt="...">
                        <h5 class="card-title category">Category</h5>
                    </div>
                </div>
            </a>

        </div>
<!-- card category end -->

<!--* card category start -->
        <div class="col">

            <a href="#" class="card-link">
                <div class="card">
                    <div class="card-body center">
                        <img class="img-category py-1 placeholder" src="..." alt="...">
                        <h5 class="card-title category">Category</h5>
                    </div>
                </div>
            </a>

        </div>
<!-- card category end -->

    </div>


</div>