.btn-calcul-text {
  width: 100%;
  padding: 2%;
  border-radius: var(--border-radius-s);
}

textarea.form-control {
  width: 100%;
  border-radius: var(--border-radius-s);
  background-color: var(--tertiary);
  font-size: 1.5em;
}

.greenButton {
  display: flex;
  width: 100%;
  justify-content: center;
}

.greenButton2 {
  display: flex;
  width: 50%;
  justify-content: center;
}

.btn-calcul-text.h1.bg-green.justify-content-center {
  color: black;
}

.orange {
  color: orange;
}

.red {
  color: red;
}