<div class="your-recipes">
    <div class="text-recipes d-flex justify-content-center">
        <div class=" w-75 ">
            <label for="textarea1" class="form-label"></label>
            <textarea [(ngModel)]="recipe" class="form-control" id="textarea1" rows="5"
                placeholder="Exemple : 200 g de sucre"></textarea>
            <div class="anecdote py-5">
                <h4>Le saviez-vous ?</h4>
                <span>Les manchots mâles draguent en offrant aux femelles des cailloux.</span>
            </div>
            <h1 *ngIf="isGreenScoreVisible" [ngClass]="">Votre GreenScore : {{ greenScore }} / 100</h1>
            <h4 *ngIf="isGreenScoreVisible" [ngClass]="">Votre EcoScore : {{ ecoScore }} / 100</h4>
            <h4 *ngIf="isGreenScoreVisible" [ngClass]="">Votre CO2-Score : {{ co2Score }} / 100</h4>
            <h4 *ngIf="isGreenScoreVisible" [ngClass]="">Votre H2O-Score : {{ h2oScore }} / 100</h4>

            <div class="greenButton">
                <button (click)="onCalculateGreeScore()"
                    class="btn-calcul-text h1 bg-green justify-content-center">Calcule ton Green</button><br>
            </div>
        </div>
    </div>
</div>