
//seasonal ###############################################################


.card {
    border: 0px;
    --bs-card-border-color: 0px !important;

}

.card-body {
    padding: 5%;
    background: var(--secondary);
    border-radius: var(--border-radius-s);
    background: linear-gradient(0deg, var(--secondary) 0%, rgba(50, 200, 140, 0.010) 100%);
    transition: all 0.5s ease-in-out;
}

.card-body:hover {
    scale: 1.1;
    background: var(--primary);
    background: linear-gradient(0deg, var(--primary) 0%, rgba(50, 200, 140, 0.010) 100%);
}

.card img {
    border-radius: var(--border-radius-s);
    margin-bottom: 5%;
}