.card-title {
  color: black;
}

.card {
  border: 0px;
  --bs-card-border-color: 0px !important;
}

.card {
  padding: 7%;
  background: var(--primary);
  border-radius: var(--border-radius-s);
  transition: all 0.5s ease-in-out;
}

.card:hover {
  scale: 1.1;
  background: var(--secondary);
}

.card img {
  border-radius: var(--border-radius-s);
  margin-bottom: 5%;
}
