.switch-mode input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.switch-mode *,
.switch-mode ::after,
.switch-mode ::before {
    box-sizing: border-box;
}

/* The switch - the box around the slider */
.switch-mode .switch {
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
    display: inline-block;
}

/* The slider */
.switch-mode .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffe140;
    transition: .4s;
    border-radius: 30px;
}

.switch-mode .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon, 1.4em);
    width: var(--size-of-icon, 1.4em);
    border-radius: 20px;
    left: var(--slider-offset, 0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: #ff8c00;
    transition: .5s;
}

.switch-mode input:checked+.slider {
    background-color: #303136;
}

.switch-mode input:checked+.slider:before {
    left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -10px -4px 0 0 #a3dafb;
}